body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type='text'] {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type='submit'],
button[name='resend'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover,
button[name='resend']:hover {
  background-color: #0056b3;
}

.resend {
  text-align: right;
  margin-top: -10px;
}

.resend p {
  margin-bottom: 10px;
  color: #666;
}

.resend button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resend button:hover {
  background-color: #c82333;
}

.message-popup,
.success-message {
  display: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.message-popup {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

.success-message {
  background-color: #9ada8c;
  border: 1px solid #9de18e;
  color: #f1edee;
}
